h2 {
  margin: 0;
  padding: 0;
  color: #c4c4cd;
  font-size: 24px;
  font-weight: 700;
}

.container {
  height: calc(100vh - 110px);
  padding: 20px 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
