:global(.ant-select) {
  width: 100% !important;
  height: 42px;
}

:global(.ant-select-filled) {
  color: white !important;
}

:global(.ant-select-selector) {
  background-color: #2e2e38 !important;
  border: none !important;
  border-radius: 8px !important;
  /* padding: 8px 12px !important; */
}

:global(.ant-select-selection-placeholder) {
  color: white !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

:global(.ant-select-selection-item) {
  color: white !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

:global(.ant-select-arrow) {
  color: white !important;
}

:global(.ant-select-dropdown) {
  border-radius: 8px !important;
  background-color: #2e2e38;
  color: white;
}

:global(.ant-select-item-option) {
  color: white !important;
}

/* :global(.ant-select-item-option-active) {
  background-color: #e6f7ff !important;
} */

:global(.ant-select-item-option-selected) {
  background-color: white !important;
  color: #1a1a24 !important;
}
